<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head lang="en">
    <title>Ajout d'un professeur</title>
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/title :: title"></th:block> /*/-->
    <h2>Détails du professeur</h2>
    <div>
        <form class="form-horizontal" th:object="${professeur}" th:action="@{/professeur}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Nom :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nom}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Prénom :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{prenom}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{mail}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Téléphone :</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control"
                           pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$"
                           th:field="*{tel}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Valider</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>