<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Consultation</title>
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/searchbar :: searchbar"></th:block> /*/-->
    <div class="content-wrap">
        <!--/*/ <th:block th:include="fragments/title :: title"></th:block> /*/-->
        <h2>Détail de la consultation</h2>
        <hr class="horizontal"/>
        <div class="row">
            <div class="tabs tabs-style-linebox">
                <nav>
                    <ul>
                        <li class="tab-active"><a href="#"><span>CONSULTATION</span></a></li>
                        <li><a th:href="@{'/diagnostic/'+${consultation.diagnostic.id}}"><span>DIAGNOSTIC</span></a></li>
                        <li th:if="${consultation.diagnostic.valide}"><a th:href="@{'/traitement/'+${consultation.traitement.id}}"><span>TRAITEMENT</span></a></li>
                        <li th:if="${consultation.traitement.valide and consultation.diagnostic.valide}"><a class="flip"><span>BILAN</span></a></li>
                    </ul>
                </nav>
            </div><!-- /tabs -->
        </div>
        <div class="row">
            <div class="form">
                <form class="form-horizontal" th:action="@{'/bilan/'+${consultation.infosConsult.id}}" method="post">
                    <div class="panelShow centered">
                        <div class="form-group centered" sec:authorize="hasAnyRole('ROLE_PROF', 'ROLE_ELEVE')">
                            <input name="codeProf" id="codeProf"
                                   required="required" type="password" pattern="[0-9]{4}"
                                   class="form-control court centered" placeholder="Code du professeur"/>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-default centered">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-md-offset-3">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><label>Date</label></td>
                            <td><p class="form-control-static" th:text="${consultation.formatDateConsultation()}">Date</p></td>
                        </tr>
                        <tr th:if="${consultation.infosConsult.binome != null}">
                            <td><nav class="cl-effect-11">
                                <a  th:remove="${isNotAdmin}? tag"
                                        th:href="@{'/binome/'+${consultation.infosConsult.binome.id}}" data-hover="Binôme">
                                    Binôme</a></nav></td>
                            <td><p class="form-control-static" th:text="${consultation.infosConsult.binome.getName()}">Binome</p></td>
                        </tr>
                        <tr th:if="${consultation.infosConsult.binome != null}">
                            <td><label> Numéro du binome</label></td>
                            <td><p class="form-control-static" th:text="${consultation.infosConsult.binome.numBinome}">Numéro</p></td>
                        </tr>
                        <tr>
                            <td><nav class="cl-effect-11"><a th:href="@{'/animal/'+ ${consultation.animal.id}}" data-hover="Animal">
                                Animal</a></nav></td>
                            <td><p class="form-control-static" th:text="${consultation.animal.nom}">Animal</p></td>
                        </tr>
                        <tr th:if="${consultation.infosConsult.professeur != null}">
                            <td><nav class="cl-effect-11">
                                <a th:remove="${isNotAdmin}? tag"
                                   th:href="@{'/professeur/'+${consultation.infosConsult.professeur.id}}" data-hover="Professeur">
                                    Professeur</a></nav></td>
                            <td><p class="form-control-static" th:text="${consultation.infosConsult.professeur.getName()}">Professeur</p> </td>
                        </tr>
                        <tr>
                            <td>
                                <nav class="cl-effect-11">
                                <a th:remove="${isNotAdmin}? tag"
                                   th:href="@{'/client/'+${consultation.animal.client.id}}" data-hover="Client">
                                Client</a>
                                </nav>
                            </td>
                            <td><p th:text="${consultation.animal.client.getName()}"> Propriétaire</p></td>
                        </tr>
                        <tr>
                            <td><label>Motif de consultation</label></td>
                            <td><p class="form-control-static" th:text="${consultation.motif}">Motif</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2" sec:authorize="hasRole('ROLE_ADMIN')" style="margin-top: 20px">
                <div class="control-group" style="margin-top: 30px">
                    <a class="btn btn-default" th:href="@{'/consultation/edit/' + ${consultation.id}}">Modifier cette consultation</a>
                </div>
                <div class="control-group" style="margin-top: 30px">
                    <a class="btn btn-default" th:href="@{'/consultation/delete/'+${consultation.id}}">Supprimer cette consultation</a>
                </div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".flip").click(function(){
            $(".panelShow").slideToggle("slow");
        });
    });
</script>
<script th:src="@{/js/TabStylesInspiration/js/cbpFWTabs.js}"></script>
<script>
    (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
            new CBPFWTabs( el );
        });

    })();
</script>
</body>
</html>