<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${binome.getName()}"></title>
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/searchbar :: searchbar"></th:block> /*/-->
    <div class="content-wrap">
        <!--/*/ <th:block th:include="fragments/title :: title"></th:block> /*/-->
        <h2>Détail du binôme</h2>
        <hr class="horizontal"/>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><label>Numéro</label></td>
                            <td><p class="form-control-static" th:text="${binome.numBinome}">Numéro</p></td>
                        </tr>
                        <tr>
                            <td><nav class="cl-effect-11">
                                <a th:href="@{'/eleve/'+ ${binome.eleve1.id}}"
                                   data-hover="Premier élève">Premier élève</a>
                            </nav></td>
                            <td><p class="form-control-static" th:text="${binome.eleve1.getName()}">Nom</p></td>
                        </tr>
                        <tr>
                            <td><nav class="cl-effect-11">
                                <a th:href="@{'/eleve/'+ ${binome.eleve1.id}}"
                                   data-hover="Deuxième élève">Deuxième élève</a>
                            </nav></td>
                            <td><p class="form-control-static" th:text="${binome.eleve2.getName()}">Prenom</p></td>
                        </tr>
                        <td><nav class="cl-effect-11"><a th:href="@{'/binome/edit/' + ${binome.id}}" data-hover="Modifier">
                            Modifier</a> </nav></td>
                        <td><nav class="cl-effect-11"><a th:href="@{'/binome/delete/' + ${binome.id}}" data-hover="Supprimer">
                            Supprimer</a> </nav></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>
