<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
    <title>Élèves</title>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">
    <!--/*/ <th:block th:include="fragments/title :: title"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(eleves)}">
        <h2>Élèves</h2>
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Voir</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            <tr th:each="eleve : ${#lists.sort(eleves)}">
                <td th:text="${eleve.nom}">Nom</td>
                <td th:text="${eleve.prenom}">Prénom</td>
                <td th:text="${eleve.mail}">Email</td>
                <td th:text="${eleve.tel}">Téléphone</td>
                <td><a th:href="@{'/eleve/' + ${eleve.id}}">Voir</a> </td>
                <td><a th:href="@{'/eleve/edit/' + ${eleve.id}}">Modifier</a> </td>
                <td><a th:href="@{'/eleve/delete/' + ${eleve.id}}">Supprimer</a> </td>
            </tr>
        </table>
    </div>
    <div th:unless="${not   #lists.isEmpty(eleves)}">
        <div class="container-fluid">
            <div class="row text-center">
                <div>
                    <h3>Pas d'élèves inscrits.</h3>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>