<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${client.getName()}"></title>
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/searchbar :: searchbar"></th:block> /*/-->
    <div class="content-wrap">
        <!--/*/ <th:block th:include="fragments/title :: title"></th:block> /*/-->
        <h2>Détail du client</h2>
        <hr class="horizontal"/>

        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><label>Nom</label></td>
                            <td><p class="form-control-static" th:text="${client.contact.nom}">Nom</p></td>
                        </tr>
                        <tr>
                            <td><label>Prenom</label></td>
                            <td><p class="form-control-static" th:text="${client.contact.prenom}">Prenom</p></td>
                        </tr>
                        <tr>
                            <td><label>Email</label></td>
                            <td><p class="form-control-static" th:text="${client.contact.mail}">Email</p></td>
                        </tr>
                        <tr>
                            <td><label>Téléphone</label></td>
                            <td><p class="form-control-static" th:text="${client.contact.tel}">Téléphone</p></td>
                        </tr>
                        <tr>
                            <td><label>Rue</label></td>
                            <td><p class="form-control-static" th:text="${client.adresse.getNumRue()}">Rue</p></td>
                        </tr>
                        <tr>
                            <td><label>Code postal</label></td>
                            <td><p class="form-control-static" th:text="${client.adresse.codePostal}">Code postal</p></td>
                        </tr>
                        <tr>
                            <td><label>Ville</label></td>
                            <td><p class="form-control-static" th:text="${client.adresse.ville}">Ville</p></td>
                        </tr>
                        <tr>
                            <td><label>Cotisation</label></td>
                            <td><p class="form-control-static" th:text="${client.getFormatCotisation()}">Cotisation</p></td>
                        </tr>
                        <td><nav class="cl-effect-11"><a th:href="@{'/client/edit/' + ${client.id}}" data-hover="Modifier">
                            Modifier</a> </nav></td>
                        <td><nav class="cl-effect-11"><a th:href="@{'/client/delete/' + ${client.id}}" data-hover="Supprimer">
                            Supprimer</a> </nav></td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-2" style="margin-left: 50px">

                <form class="form-horizontal" th:object="${client}" th:action="@{/animal}" method="post">
                    <div class="form-group">
                        <label class="control-label">Animaux</label>
                        <select width="" th:field="*{animaux}">
                            <option th:each="animal : ${client.animaux}" th:value="${animal.id}" th:text="${animal.nom}"></option>
                        </select>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-default">Voir</button>
                    </div>
                </form>
                <div class="control-group" style="margin-top: 15px">
                    <a class="btn btn-default" th:href="@{'/client/' + ${client.id} + '/animal/new'}">Ajouter un animal</a>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>