<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Clients</title>
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">
    <h2>Détail du client</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <th> </th>
                    <th> </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><label>Nom :</label></td>
                        <td><p class="form-control-static" th:text="${client.nom}">Nom</p></td>
                    </tr>
                    <tr>
                        <td><label>Prenom :</label></td>
                        <td><p class="form-control-static" th:text="${client.prenom}">Prenom</p></td>
                    </tr>
                    <tr>
                        <td><label>Email :</label></td>
                        <td><p class="form-control-static" th:text="${client.mail}">Email</p></td>
                    </tr>
                    <tr>
                        <td><label>Rue :</label></td>
                        <td><p class="form-control-static" th:text="${client.rue}">Rue</p></td>
                    </tr>
                    <tr>
                        <td><label>Ville :</label></td>
                        <td><p class="form-control-static" th:text="${client.ville}">Ville</p></td>
                    </tr>
                    <tr>
                        <td><label>Cotisation :</label></td>
                        <td><p class="form-control-static" th:text="${client.cotisation}">Cotisation</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4">

            <form class="form-horizontal" th:object="${client}" th:action="@{/animal}" method="post">
                <div class="form-group">
                    <label class="control-label">Animaux :</label>
                    <select width="" th:field="*{animaux}">
                        <option th:each="animal : ${client.animaux}" th:value="${animal.id}" th:text="${animal.nom}"></option>
                    </select>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-default">Voir</button>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <div class="control-group">
                <a class="btn btn-default" th:href="@{'/client/' + ${client.id} + '/animal/new'}">Ajouter un animal</a>
            </div>
        </div>


    </div>

</div>



</body>
</html>