<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div th:fragment="header">
    <div class="menu-wrap">
        <nav class="menu">
            <div class="icon-list">
                <a href="/">Accueil</a>

                <li class="dropdown" style="list-style-type: none;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Clients
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/clients}">Clients</a></li>
                        <li><a href="#" th:href="@{/client/new}">Ajouter un client</a></li>
                    </ul>
                </li>
                <li class="dropdown" style="list-style-type: none;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Élèves
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/eleves }">Élèves</a></li>
                        <li><a href="#" th:href="@{/eleve/new}">Ajouter un élève</a></li>
                    </ul>
                </li>
                <li class="dropdown" style="list-style-type: none;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Binomes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/binomes }">Binomes</a></li>
                        <li><a href="#" th:href="@{/binome/new}">Ajouter un binome</a></li>
                    </ul>
                </li>
                <li class="dropdown" style="list-style-type: none;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Professeurs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/professeurs }">Professeurs</a></li>
                        <li><a href="#" th:href="@{/professeur/new}">Ajouter un professeur</a></li>
                    </ul>
                </li>

            </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
        <!--<div class="morph-shape" id="morph-shape" data-morph-open="M-7.312,0H15c0,0,66,113.339,66,399.5C81,664.006,15,800,15,800H-7.312V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z">-->
            <!--<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">-->
                <!--<path d="M-7.312,0H0c0,0,0,113.839,0,400c0,264.506,0,400,0,400h-7.312V0z"/>-->
            <!--</svg>-->
        <!--</div>-->
    </div>
    <button class="menu-button" id="open-button">Open Menu</button>
    <script th:src="@{/OffCanvasMenuEffects/js/classie.js}"></script>
    <script th:src="@{/OffCanvasMenuEffects/js/main.js}"></script>


</div>


</body>
</html>