<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <title>Accueil</title>
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
    <link rel='stylesheet' type="text/css" th:href="@{/js/fullcalendar-2.7.2/fullcalendar.css}"/>
    <script th:src="@{/js/fullcalendar-2.7.2/lib/moment.min.js}"></script>
    <script th:src="@{/js/fullcalendar-2.7.2/fullcalendar.js}"></script>
    <script th:src="@{/js/fullcalendar-2.7.2/lang/fr.js}"></script>
</head>
<body>
<div class="container">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            consultations = /*[[${consultations}]]*/ 'ble'
            var array = new Array(consultations.length)
            if (consultations[0] != null) {
                for (i = 0; i < array.length; i++) {
                    array[i] = {
                        "id": consultations[i].id,
                        "title": "Binôme : " + consultations[i].binome + " | Client : " +
                        consultations[i].proprio,
                        "url": "/consultation/" + consultations[i].id,
                        "class": "event-important",
                        "start": consultations[i].date, // Milliseconds
                        "end": consultations[i].dateFin, // Milliseconds
                        "professeur": consultations[i].professeur,
                        "animal": consultations[i].animal,
                        "nomAnimal": consultations[i].nomAnimal
                    }
                }
            }
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                weekends: false,
                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                defaultView: 'month',
                events: array,
                dayClick: function(date, jsEvent, view){
                    if (view.name != "agendaDay") {
                        $('#calendar').fullCalendar('gotoDate', date);
                        $('#calendar').fullCalendar('changeView', 'agendaDay');
                    }
                },
                defaultTimedEventDuration: '01:30:00',
                minTime: '07:30:00',
                maxTime: '18:00:00',
                contentHeight: 'auto',
                eventRender: function (event, element) {
                    var dataToFind = moment(event.start).format('YYYY-MM-DD');
                    $("td[data-date='"+dataToFind+"']").addClass('dayWithEvent');
                }
            });
        });

        /*]]>*/
    </script>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/searchbar :: searchbar"></th:block> /*/-->
    <div class="content-wrap">
        <!--/*/ <th:block th:include="fragments/title :: title"></th:block> /*/-->

        <div id="calendar" class="centered" style="width: 90%; margin-bottom: 20px;"></div>
    </div>
</div>
</body>
</html>