<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <title>Cnesoa Project Base</title>
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
    <link rel="stylesheet" th:href="@{/js/bootstrap-calendar/css/calendar.css}"/>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/searchbar :: searchbar"></th:block> /*/-->
    <div class="content-wrap">
        <!--/*/ <th:block th:include="fragments/title :: title"></th:block> /*/-->
        <div class="page-header">
            <div class="pull-right form-inline">
                <div class="btn-group">
                    <button class="btn btn-primary" data-calendar-nav="prev">Précédent</button>
                    <button class="btn" data-calendar-nav="today">Aujourd'hui</button>
                    <button class="btn btn-primary" data-calendar-nav="next">Suivant</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-warning" data-calendar-view="year">Année</button>
                    <button class="btn btn-warning active" data-calendar-view="month">Mois</button>
                    <button class="btn btn-warning" data-calendar-view="week">Semaine</button>
                    <button class="btn btn-warning" data-calendar-view="day">Jour</button>
                </div>
            </div>
            <h3></h3>
        </div>

        <div id="calendar">
        </div>
        <script type="text/javascript" th:src="@{/js/bootstrap-calendar/js/calendar.js}"></script>
        <script type="text/javascript" th:src="@{/js/underscore/underscore-min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap-calendar/js/language/fr-FR.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap-calendar/js/app.js}"></script>
        <script type="text/javascript" th:src="@{/js/moment/moment.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var calendar = $("#calendar").calendar(
                    {
                        language: 'fr-FR',
                        tmpl_path: "/js/bootstrap-calendar/tmpls/",
                        events_source: function () {
                            consultations = /*[[${consultations}]]*/ 'ble';
                            var array = new Array(consultations.length);
                            if (consultations[0] != null) {
                                for (i = 0; i < array.length; i++) {
                                    array[i] = {
                                        "id": consultations[i].id,
                                        "title": "Consultation" + " / Binôme : " + consultations[i].binome + " / Client : " +
                                        consultations[i].proprio + " / Animal : " + consultations[i].animal,
                                        "url": "/consultation/" + consultations[i].id,
                                        "class": "event-important",
                                        "start": consultations[i].date, // Milliseconds
                                        "end": consultations[i].date + 5400000 // Milliseconds
                                    }
                                }
                            }
                            return array;

                        },
                        onAfterViewLoad: function(view) {
                            $('.page-header h3').text(this.getTitle());
                            $('.btn-group button').removeClass('active');
                            $('button[data-calendar-view="' + view + '"]').addClass('active');
                            if (view == 'day') { verifyConflictEvents();}
                        }});
            $('.btn-group button[data-calendar-nav]').each(function() {
                var $this = $(this);
                $this.click(function() {
                    calendar.navigate($this.data('calendar-nav'));
                });
            });

            $('.btn-group button[data-calendar-view]').each(function() {
                var $this = $(this);
                $this.click(function() {
                    calendar.view($this.data('calendar-view'));
                });
            });
            function verifyConflictEvents() {
                $(".pull-left.day-event.day-highlight").each(function () {
                    var event = $(this);
                    var schedule = $(this).children("span").html();
                    $(this).siblings().each(function () {
                        if ($(this).children("span").html() == schedule ) {
                            event.css("position", "relative")
                            return false;
                        }
                    });
                });
            }

            /*]]>*/
        </script>


    </div>
</div>
</body>
</html>