<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
    <title>Professeurs</title>
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/searchbar :: searchbar"></th:block> /*/-->
    <div class="content-wrap">
        <!--/*/ <th:block th:include="fragments/title :: title"></th:block> /*/-->
        <div th:if="${not #lists.isEmpty(professeurs)}">
            <h2>Professeurs</h2>
            <table class="table centered">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                </tr>
                <tr th:each="professeur : ${#lists.sort(professeurs)}">
                    <td th:text="${professeur.nom}">Nom</td>
                    <td th:text="${professeur.prenom}">Prénom</td>
                    <td th:text="${professeur.contact.mail}">Email</td>
                    <td th:text="${professeur.contact.tel}">Téléphone</td>
                    <td>
                    <li class="dropdown" style="width: 30px;list-style-type: none;">
                        <button type="button" class="glyphicon glyphlist glyphicon-menu-down" aria-label="Justify">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{'/professeur/' + ${professeur.id}}">Voir
                            </a></li>
                            <li><a th:href="@{'/professeur/edit/' + ${professeur.id}}">Modifier
                            </a></li>
                            <li><a th:href="@{'/professeur/delete/' + ${professeur.id}}">Supprimer
                            </a></li>
                        </ul>
                    </li>
                    </td>
                </tr>
            </table>
        </div>
        <div th:unless="${not   #lists.isEmpty(professeurs)}">
            <div class="container-fluid">
                <div class="row text-center">
                    <div>
                        <h3>Pas de professeurs inscrits.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>