<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Consultation</title>
    <!--/*/ <th:block th:include="fragments/headerfr :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/title :: title"></th:block> /*/-->
    <h2>Détail de la consultation</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th> </th>
                    <th> </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><label>Date</label></td>
                        <td><p class="form-control-static" th:text="${consultation.dateConsultation}">Date</p></td>
                    </tr>
                    <tr>
                        <td><label>Binome 1</label></td>
                        <td><p class="form-control-static" th:text="${consultation.infosConsult.eleve1.getName()}">Eleve 1</p></td>
                    </tr>
                    <tr>
                        <td><label>Binome 2</label></td>
                        <td><p class="form-control-static" th:text="${consultation.infosConsult.eleve2.getName()}">Eleve 2</p></td>
                    </tr>
                    <tr>
                        <td><label>Numéro du binome</label></td>
                        <td><p class="form-control-static" th:text="${consultation.infosConsult.numBinome}">Robe</p></td>
                    </tr>
                    <tr>
                        <td><label>Nom de l'animal</label></td>
                        <td><p class="form-control-static" th:text="${consultation.animal.nom}">Sexe</p></td>
                    </tr>
                    <tr>
                        <td><label>Professeur référent</label></td>
                        <td><p class="form-control-static" th:text="${consultation.infosConsult.professeur.getName()}">Professeur</p> </td>
                    </tr>
                    <tr>
                        <td><label>Client</label></td>
                        <td><p><a th:text="${consultation.animal.client.getName()}" th:href="@{'/client/' + ${consultation.animal.client.id}}"> Propriétaire</a></p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>